a {tp:2;}
b {tp:1;}
c {tp:2; bp: 4;}
f {
  tm: 2;
  bm: 4;
  foo: 3;
  spicy: 42;
  lp: 4;
  rp: 5;
}
g {tm: 6; bm: 3;}

a1 {tp:2;}
b1 {tp:1;}
d {
  tp:2;
  bp: 4;
  a: 1;
  b: 1;
  c: 2;
  d: 1;
  e: 4;
  f: 10;
}
f1 {
  tm: 21;
  bm: 4;
  foo: 31;
  spicy: 0;
  lp: 4;
  rp: 5;
}
g2 {
  tm: 6;
  bm: 3;
  a: 1;
  b: 100;
  c: 2;
  d: 1;
  e: 4;
  f: 10;
}
